

<% layout('layouts/boilerplate')%>
<h1 class="text-center">New Product</h1>
<form action="/users/<%=usersId%>/shops/<%=shopsId%>/products" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="product[name]" id="name" class="form-control" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" name="product[price]" id="price" class="form-control" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Upload Images</label>
        <input class="form-control" type="file" name="image" id="image" multiple>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create Product</button>
    </div>
</form>